internal/api/types.go -diff linguist-generated=true
internal/api/client.go -diff linguist-generated=true
internal/api/mocks/mock_client.go -diff linguist-generated=true
docs/cli/*.md -diff linguist-generated=true
